<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .login, .register {
        display: inline-block;
        vertical-align: top;
        margin: 0px 100px 0px 100px;
        width:400px;
    }
    body {
        padding:50px;
    }
    p {
        color:red;
    }
    
</style>
<body>
    <div class="register">
        <h1>Registration</h1>
        <form action="register" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="fname">First Name</label>
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'fname' %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <input type="text" class="form-control" id="fname" name="fname">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'lname' %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <input type="text" class="form-control" id="lname" name="lname">
            </div>
            <div class="form-group">
                <label for="birthday">Birthday</label>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'birthday' %}
                            <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <input type="date" class="form-control" id="birthday" name="birthday">
            </div>
            <div class="form-group">
                <label for="email_r">Email address</label>
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'email_r' %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <input type="text" class="form-control" id="email_r" name="email_r">
            </div>
            <div class="form-group">
                <label for="password_r">Password</label>
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'password_r' %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <input type="text" class="form-control" id="password_r" name="password_r">
            </div>
            <div class="form-group">
                    <label for="conf_password">Confirm Password</label>
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'conf_password_r' %}
                            <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    <input type="text" class="form-control" id="conf_password" name="conf_password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="login">
        <h1>Login</h1>
        <form action="login" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address</label>
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'email' %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'password' %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
    
</body>
</html>